@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff4444;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
  display: flex;
  margin: 1rem auto 0 auto;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image {
  margin: 2rem 0;
  border-radius: 2rem;
  width: 90vw;
  max-width: 590px;
}

.image canvas {
  width: 100% !important;
  height: auto !important;
  display: flex !important;
}

.none {
  display: none !important;
}

.download {
  padding: 1rem 2rem;
  background: #f44;
  border-radius: 0.5rem;
  color: #fafafa;
  cursor: pointer;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.download:hover {
  background: #f34;
}
